[Unit]
Description=Gunicorn daemon para DanShop
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/danstore-web
# La magia está en el --env y el PYTHONPATH
Environment="PYTHONPATH=/home/ubuntu/danstore-web/backend"
ExecStart=/home/ubuntu/danstore-web/venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind 127.0.0.1:8000 \
    --env DJANGO_SETTINGS_MODULE=settings \
    wsgi:application

[Install]
WantedBy=multi-user.target